{
    "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ],
        "react-hot-loader/babel"
    ]
}
