{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": [".*", "*.config.js", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
